body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #b0e1ff;
    background-image: linear-gradient(315deg, #b0e1ff 0%, #8a98e8 37%, #8a98e8 63%, #b0e1ff 100%);
}

header {
    color: white;
    text-align: center;
    padding: 1em 0;
    z-index: 0;
    position: relative;
}

h1 {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.suurotsmik {
    margin-top: 50%;
}

.row {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.column {
    width: 33.33%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 3;
}

#first,
#third {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#second {
    background-color: #1273ce;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    flex: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* Align items at the top */
    padding-top: 20px;
    /* Add some padding at the top */
    color: white;
}

.nested-row {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.nested-column {
    height: 35%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    box-sizing: border-box;
}

.game {
    background-image: linear-gradient(20deg, #b0e1ff 0%, #8a98e8 37%, #8a98e8 63%, #b0e1ff 100%);
    border: 2px solid #1273ce;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}

#question-container {
    display: none;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

.poster-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    aspect-ratio: 1 / 1;
    background-image: linear-gradient(20deg, #b0e1ff 0%, #8a98e8 37%, #8a98e8 63%, #b0e1ff 100%);
    border: 2px solid #1273ce;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin: 10px;
    overflow: hidden;
    text-align: center;
}

.poster-button img {
    width: 100%;
    height: auto;
    max-height: 70%;
}

.poster-button span {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}