body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #b0e1ff;
    background-image: linear-gradient(315deg, #b0e1ff 0%, #8a98e8 37%, #8a98e8 63%, #b0e1ff 100%);
}

header {
    /* background-image: linear-gradient(to right, #ececea 0%, #ececea 33.33%, #1273ce 33.33%, #1273ce 66.66%, #ececea 66.66%, #ececea 100%); */
    color: white;
    text-align: center;
    padding: 1em 0;
    z-index: 0; /* Ensure header is above the columns */
    position: relative;
}

.row {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    /* Adjust height to account for header and footer */
    position: relative;
    z-index: 1; /* Ensure row is below the header */
    position: relative;
    /* overlap the entire header */
}


.column {
    width: 33.33%;
    box-sizing: border-box;
    }

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 3;
}

#first {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url(./pildid/teine2.webp);
}


#second {
    background-color: #1273ce;
    
    /* add a shadow around the element */
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

#third {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-image: url(./pildid/teine1.webp);
}

/* make the second row #teinerow a bit less tall so that it would make the first row a bit bigger and second smaller using flex */
#teinerow {
    flex: 0.3;
    position: relative; /* Ensure the fifth column is positioned relative to this row */
}

#fifth {
    position: relative;
    top: -50px; /* Adjust this value to control the overlap amount */
    z-index: 2; /* Ensure it appears above the other columns */
    width: 33.33%; /* Ensure the width remains consistent */
    box-sizing: border-box;
    /* make the element higher to compensate for top adjustment */
    height: calc(100% + 50px);
}

.column:nth-child(1) .text {
    padding-left: 60%;
}
